@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #121212;
  background: #FFFFFF;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.clock {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 500%;
  font-weight: bold;
}
.forecast {
  font-size: 28px;
  padding: 15px;
}
.forecast-credits {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 1em;
  padding-bottom: 1em;
}
.transport {
  font-size: 28px;
    padding: 15px;
}
.temperature {
  font-weight: bold;
  left: 50%;
  display:inline;
}
.transport-time {
  padding: 0.5em;
  font-weight: bold;
  left: 50%;
  display:inline;
}
.transport * img {
  padding: 15px;
  font-size: xx-large;
}
.weather-time {
  left: 50%;
  display:inline;
}
.weather-time time {
  font-weight: bold;
}
.weather-icon {
  padding: 15px;
}
i[title]:hover:after {
  font-size: 200%;
}
input.authenticate{
    margin: 0.1em;
}
.authenticate {
    width: 180px;
}
.horizontal-line {
   width: 100%;
   height: 3px;
   background-color: #121212;
   margin: 0 auto;
}
.vertical-line {
   width: 1px;
   height: 300px;
   background-color: #121212;
   margin: 0 auto;
}
.inactive-form {
   visibility: hidden;
}
.active-form {
}
iframe {
  overflow: hidden;
  height: 1024px;
  width: 100%;
}
.fill-screen {
  font-size: 64px;
  font-size: 40vw;
}